@font-face {
    font-family: "Font Family 1";
    src: url("../fonts/BebasNeue-Regular\ \(1\).ttf") format("truetype");
}

@font-face {
    font-family: "Font Family 2";
    src: url("../fonts/BonheurRoyale-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Font Family 3";
    src: url("../fonts/Gluten-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Font Family 4";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "sticknobills";
    src: url("../fonts/StickNoBills-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "RubikBubbles-Regular";
    src: url("../fonts/RubikBubbles-Regular.tff") format("truetype");
}

@font-face {
    font-family: "Notable-Regular";
    src: url("../fonts/Notable-Regular.ttf") format("truetype");
}

header {
    font-family: "Font Family 1", sans-serif;
}

section {
    font-family: "Font Family 2", sans-serif;
}

.font-notable {
    font-family: "Notable-Regular", sans-serif;
    
}

h1 {
    font-family: 'RubikBubbles-Regular', sans-serif;
}

.font-sticknobills {
    font-family: "sticknobills", sans-serif;
}
